nav .fa{
    display: none;
    color: white;
}

@media(max-width: 700px){

    /* text box responisveness */
    .text-box h1{
        font-size: 20px;
    }

    /* navbar responsiveness */

    .nav-links ul li{
        display: block;

    }
    .nav-links{
        position: absolute;
        background: #c10505;
        height: 100vh;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    .nav-links ul li a{
        color: white;
    }

    nav img{
        width: 200px;
    }

    nav .fa{
        display: block;
        color: rgb(2, 1, 1);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    nav ul{
        padding: 30px;
    }

    .row{
        flex-direction: column;
    }


    /* carousel */

    #carousel{
        height: 250px;
    }

    #carousel h2{
        font-size: 20px;
        
    }

    .container{
        flex-direction: column;
    }

    .contactInfo h1{
        font-size: 24px;
    }
    
    .footer{
        margin-left: 20px;
        padding: 40px;
        
    }

    .footer-row{
        width: 80;
        flex-direction: column;
        padding: 20px 0 20px 0;
        text-align: center;
    }
    .footer-col{
       width: 25%;
       font-size: small;
       
    }
}